# Ignore virtual environments
.venv/
env/

# Ignore macOS system files
*.DS_Store

# Ignore PyCharm project files
.idea/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.py[cod]
.python-version

# directories to ignore:
example_data/raw_train
example_data/raw_test
example_data/processed_train
example_data/processed_test

data/raw-train/
data/processed-train/
data/raw-test/
data/processed-test
outputs/wandb
outputs/checkpoints
models/pretrained

# files to ignore