# Ignore virtual environments
.venv/
env/

# Ignore macOS system files
*.DS_Store

# Ignore PyCharm project files
.idea/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.py[cod]
.python-version

# directories to ignore:
data/raw-train/
data/processed-train/
data/raw-test/
data/processed-test

# files to ignore